#e-gamify-main-bar {
  background-color: gray;
  position:fixed !important;
  position: absolute; /*ie6 */
  right: 1em;
  bottom: 0;
}

#e-gamify-main-bar iframe {
  /*display: none;
  visibility: hidden;*/
}

#fb-bt {
  color: red;
}
