#e-gamify-main-bar {
  background-color: rgba(179, 255, 249, 0.89);
  position:fixed !important;
  position: absolute; /*ie6 */
  right: 0.5em;
  bottom: 0.2em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 1.3em;
  border-color: rgb(50, 180, 255);
  border-style: solid;
  border-width: 0.15em;
  margin: 0;
  padding: 0;
  /*display: none;*/
}

#e-gamify-main-bar iframe {
  width: 70px;
  height: 70px;
  /*display: none;
  visibility: hidden;*/
}

#e-gamify-iframe {
  position: relative;
  float: right;
  margin: 0.3em;
  margin-bottom: 0.1em;
}

#e-gamify-status {
  position: relative;
  float: left;
  margin: 0.35em;
  color: #344D9D;
}

#e-gamify-name {
  position: relative;
  float: left;
  margin: 0.35em;
}

#e-gamify-avatar {
  position: relative;
  float: right;
  margin: 0.45em;
  width: 50px;
  height: 50px;
}
/*
#e-gamify-avatar-menu-profile {
  color: #3582C0;
}

#e-gamify-avatar-menu-profile:hover {
  text-decoration: underline;
}

#e-gamify-avatar-menu-logout {
  color: #F86753;
}

#e-gamify-avatar-menu-logout:hover {
  text-decoration: underline;
}*/

#e-gamify-points {
  position: relative;
  float: left;
  margin: 0.35em;
  font-family: 'Ubuntu', sans-serif;
}

#e-gamify-ep {
  float: left;
  margin-right: 0.2em;
}

#e-gamify-p {
  float: right;
  color: #20D31D;
}

#e-gamify-powered {
  font-style: italic;
  font-size: x-small;
  position: absolute;
}
