%h1 Home#index
%p Find me in app/views/home/index.html.haml

//= javascript_include_tag "fb_login"

#e-gamify-main-bar{ :shop => "512f58bcabd73715eb000086", :style => "classic" }


- content_for :bottom do
  = javascript_include_tag "main_bar"

//%script{:src => "assets/main-bar", :type => "text/javascript"}
