!!!
%html
  %head
    %meta{:charset => "utf-8"}
      %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
        %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
          %meta{:content => "EGamify is a gamification plataform for online shops", :name => "description"}
            %meta{:content => "Jose Ruiz Jimenez - joseruizjimenez@gmail.com", :name => "author"}
              %title EGamify
              %link{:href => "/assets/application.css?body=1", :media => "all", :rel => "stylesheet", :type => "text/css"}/
              %link{:href => "/assets/bootstrap.min.css?body=1", :media => "all", :rel => "stylesheet", :type => "text/css"}/
              %link{:href => "/assets/home.css?body=1", :media => "all", :rel => "stylesheet", :type => "text/css"}/
              %link{:href => "/assets/css/bootstrap-responsive.min.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}
                %link{:href => "https://fonts.googleapis.com/css?family=Ubuntu|Open+Sans", :rel => "stylesheet", :type => "text/css"}
                  :css
                    body {
                        padding-top: 20px;
                        padding-bottom: 40px;
                      }

                      /* Custom container */
                      .container-narrow {
                        margin: 0 auto;
                        max-width: 700px;
                      }
                      .container-narrow > hr {
                        margin: 30px 0;
                      }

                      /* Main marketing message and sign up button */
                      .jumbotron {
                        margin: 50px 0;
                        text-align: center;
                      }
                      .jumbotron h1 {
                        font-size: 72px;
                        line-height: 1;
                      }
                      .jumbotron .btn {
                        font-size: 21px;
                        padding: 14px 24px;
                      }

                      /* Supporting marketing content */
                      .marketing {
                        margin: 50px 0;
                      }
                      .marketing p + h4 {
                        margin-top: 28px;
                      }
                                      /[if IE]
                  /[if lt IE 9]
                    <script src='http://html5shim.googlecode.com/svn/trunk/html5.js'></script>
                  %link{:href => "/img/ico/favicon.ico", :rel => "shortcut icon"}
                    %link{:href => "/img/ico/apple-touch-icon-144-precomposed.png", :rel => "apple-touch-icon-precomposed", :sizes => "144x144"}
                      %link{:href => "/img/ico/apple-touch-icon-114-precomposed.png", :rel => "apple-touch-icon-precomposed", :sizes => "114x114"}
                        %link{:href => "/img/ico/apple-touch-icon-72-precomposed.png", :rel => "apple-touch-icon-precomposed", :sizes => "72x72"}
                          %link{:href => "/img/ico/apple-touch-icon-57-precomposed.png", :rel => "apple-touch-icon-precomposed"}
  %body
    .container-narrow
      .masthead
        %ul.nav.nav-pills.pull-right
          %li.active
            %a{:href => "/"} Home
          %li
            %a{:href => "/legal/about.html"} About
          %li
            %a{:href => "mailto:joseruizjimenez@gmail.com"} Contact
        %h3.muted
          %i.icon-bookmark.icon-white
          eGamify!
      %hr
        .jumbotron
          %h1 Build a comunity around your shop!
          %p.lead Do you feel that your shop needs some love? Do you want to improve your campaigns success rate? Start by knowing your customers.
          %a.btn.btn-large.btn-success{:href => "/site_owners/sign_up"} Sign up today
          %br
            %br
              %a{:href => "/site_owners/sign_in"} Have an account already?
        %hr
          .row-fluid.marketing
            .span6
              %h4 Get some love
              %p Keep your users happy and love will come in return. With our system you will be able to reward your most loyal customers.
              %h4 Working within 30 mins
              %p Fast setup! How much time would take you to copy/paste two lines of code? :)
              %h4 Compatibility~
              %p It was designed to work with most of the e-commerce plataforms. Shopify, 1&1... you are good to go!.
            .span6
              %h4 Improved loyalty
              %p Manage your campaigns on behalf of your customers. Stop wasting time and effort, now you will know what they like and what they don't.
              %h4 Do it yourself
              %p Our simple API will allow you to integrate this loyalty program without technical knowledge.
              %h4 Flexibility~
              %p Use this service as you will! Everything was built without an structured design. Find your way best way to use it.
          %hr
            .footer
              %p &copy; e-Gamify 2013
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"}
    :javascript
      window.jQuery || document.write('<\/script>')