= stylesheet_link_tag "application", :media => "all"
%link{:href => "/assets/css/bootstrap-responsive.min.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}
%link{href:'https://fonts.googleapis.com/css?family=Ubuntu|Open+Sans', rel:'stylesheet', type:'text/css'}
= render 'layouts/html_ie_support'
= render 'layouts/app_icons'