-# JQuery
-# Grab Google CDN's jQuery. fall back to local if necessary
%script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"}
%script window.jQuery || document.write('<script src="/assets/js/jquery.min.js"><\/script>')